%p
  %strong= best_in_place embeddable, :prompt, :type => :textarea, :path => main_app.embeddable_multiple_choice_path, :nil => 'Click to edit prompt'
  %br
  %br
  - embeddable.choices.each do |choice|
    - control_name = "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]"
    - control_id = "embeddable__#{choice.class.to_s.demodulize.underscore}_#{choice.id}"
    %label{:for => control_id}
      %input{:type => "radio", :name => control_name, :id => control_id, :value => control_id, :checked => selected}
      = choice.choice
  %button= "Check Answer"
