- next_page = nil unless defined?(next_page)
- previous_page = nil unless defined?(previous_page)
%div{:class => ["content", page.theme]}
  .page-nav
    / TODO: include prev/next links with "disabled" if they're null
    / TODO: "active" class
    - if previous_page
      = link_to "&nbsp;", interactive_page_show_page(previous_page)
    - all_pages.each do |p|
      = link_to p.position.to_s, interactive_page_show_page(p)
    - if next_page
      = link_to "&nbsp;", interactive_page_show_page(next_page)
  .title
    = page.lightweight_activity.name
    %p.question= page.name
  .text
    .instructions= page.text
    .questions
      - if @offering
        = form_tag(main_app.answers_portal_offering_path(@offering)) do
          - page.embeddables.each do |e|
            - e_type = e.class.name.underscore
            = render :partial => "#{e_type}/lightweight", :locals => {:embeddable => e}
          = submit_tag "Save Answers"
      - else
        - page.embeddables.each do |e|
          - e_type = e.class.name.underscore
          = render :partial => "#{e_type}/lightweight", :locals => {:embeddable => e}
  .other
    - page.interactives.each do |interactive|
      - i_type = interactive.class.name.underscore
      = render :partial => "#{i_type}/show", :locals => {:interactive => interactive}
  - if page.sidebar
    .sidebar
      != page.sidebar
  - if !next_page
    .related
      != page.lightweight_activity.related