%h1 Edit activity
= form_for @activity, {:url => "/lightweight/activities/#{@activity.id}", :method => 'put'} do |f|
  = render :partial => 'form', :locals => {:f => f}
= javascript_tag("focus_first_field();");
%ul
  %li= link_to "Add pages to this activity", new_activity_page_path(@activity)
  - if @activity.pages.length > 0
    %li
      Edit pages:
      %ul
        - @activity.pages.each do |p|
          %li= link_to p.name, edit_activity_page_path(@activity, p)